.MMM-TvheadendDVR table {
	text-align: left;
}

.MMM-TvheadendDVR .recording {
	font-size: 75%;
	color: #ff6347;
}

/* .MMM-TvheadendDVR .title {
	
} */

.MMM-TvheadendDVR .channel {
	font-size: 75%;
}

.MMM-TvheadendDVR .time {
	font-size: 75%;
	text-align: right;
}
